/* About */

.about {
  background-image: url(../img/bigfogmarketing_realism_ultra_hd_turquoise_clear_gas_pipes_agai.png);
  /* filter: brightness(0.95); */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: min-content;
  position: relative;
}

.about.container {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 138, 145, 0.5) 80%, rgb(0, 0, 0, 0.7) 100%);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 265px;
  padding: 224px 0px 100px 0px;
  /* margin-left: 7px; */
}

@media screen and (max-width: 1200px) {
  .about__container {
    padding: 150px 0 150px 0;
    gap: 240px;
  }
}
@media screen and (max-width: 768px) {
  .about__container {
    padding: 50px 0 50px 0;
    gap: 240px;
  }
}

.about__about {
  display: flex;
  flex-direction: column;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.3px;
  color: var(--text-first-color);
}

@media screen and (max-width: 768px) {
  .about__about {
    width: 100%;
  }
}

.about__steps {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1.3px;
  color: var(--text-first-color);
}

.about__steps-item::before {
  content: '-';
  margin-right: 5px;
}

.about__places {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  color: var(--text-first-color);
  margin-right: 20px;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .about__places {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* стили для планшетов */
@media screen and (max-width: 768px) {
  .about__places {
    grid-template-columns: repeat(1, 1fr);
    /* width: 100%; */
  }
}

.about__places h4 {
  margin-bottom: 35px;
}

.about__places p {
  font-size: 12px;
  line-height: 2.2;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .about__places p {
    font-size: 12px;
  }
}

.about__places-item {
  width: min-content;
  min-width: 220px;
}