.footer {
  background: var(--btn-thirst-color);
  padding: 20px 0 50px;
}

.footer__container {
  width: 100%;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-first-color);
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .footer__top {
    flex-direction: column;
    gap: 16px;
  }
}

.footer__top .logo {
  width: 252px;
  mix-blend-mode: difference;
  filter: brightness(0) invert(1);
}

.menu__footer {
  font-size: 18px;
  letter-spacing: -1.5px;
  gap: 44px;
  align-items: flex-end;
  font-weight: 600;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .menu__footer {
    font-size: 16px;
    justify-content: space-between;
  }
  
}

.footer__bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-first-color);
  padding: 0 10px 0;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .footer__bottom {
    margin-top: 24px;
    gap: 24px;
    flex-direction: column-reverse;
  }
}

.copyright {
  align-self: end;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .copyright {
    align-self: center;
  }
}

.contacts {
  display: flex;
  gap: 122px;
  font-weight: normal;
  line-height: 1.2;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .contacts {
    display: flex;
    gap: 90px;
    font-weight: normal;
    line-height: 1.2;
  }

  .contacts__item {
    min-width: max-content;
  }
}