/* General */
.container {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding-left: 6px;
  padding-right: 6px;
  width: 1512px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  /* text-align: center; */
  width: max-content;
  padding: 36px 70px 36px 70px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-weight: 500;
  font-size: 25px;
}

.btn_black {
  background-color: var(--btn-secondary-color);
  color: white;
}

.btn:hover {
  background-color: var(--btn-color);
}