/* Header */
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}

.logo {
  width: 232px;
}

.menu {
  display: flex;
  gap: 36px;
  font-family: Montserrat;
  font-weight: 700;
}

.menu li:hover {
  color: var(--btn-color);
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .logo {
    width: 200px;
  }

  .menu {
    font-size: 13px;
    gap: 16px;
    font-family: Montserrat;
    font-weight: 700;
  }
}

/* стили для мобильных устройств */
@media screen and (max-width: var(--breakpoint-mobile)) {
  .menu {
    display: none;
  }
}

