/* Header */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}

.logo {
  width: 240px;
}

.menu {
  display: flex;
  gap: 41px;
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: 1px; */
}

/* Стили для экранов шириной меньше 576px */
@media screen and (max-width: var(--breakpoint-small)) {}

/* Стили для экранов от 576px до 767px */
@media screen and (min-width: var(--breakpoint-small)) and (max-width: var(--breakpoint-medium)) {
  .logo {
    width: 10px;
  }

}

/* Стили для экранов от 768px до 991px */
@media screen and (min-width: var(--breakpoint-medium)) and (max-width: var(--breakpoint-large)) {}