/* Header */
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}

.logo {
  width: 240px;
}

.menu {
  display: flex;
  gap: 41px;
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: 1px; */
}

.menu li:hover {
  color: var(--btn-color);
}

/* стили для планшетов */
@media screen and (max-width: var(--breakpoint-tablet)) {
  .logo {
    width: 200px;
  }

  .menu {
    display: none;
    gap: 41px;
    font-family: Montserrat;
    font-weight: 700;
    /* letter-spacing: 1px; */
  }
}

/* стили для мобильных устройств */
@media screen and (max-width: var(--breakpoint-mobile)) {
  .menu {
    display: none;
  }
}

