/* Переменные */
:root {

  /* colors */
  --main-text-color: #fff;
  --secondary-text-color: #000;
  --main-background_color: #f7f7f7;
  --button-background-color: #f7f7f7;
  --btn-color: #00d1c9;
  --btn-color-two: #009995;
  --btn-color-three: #007a77;
  --btn-secondary-color: #181818;
  --btn-thirst-color: #222222;
  
  /* breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;
}