.steps__container {
  padding: 100px 0 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.steps__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 80px;
}

/* стили для планшетов */
@media screen and (max-width: 768px) {
  .steps__content {
    grid-template-columns: 1fr;

  }
}


.steps__item {
  padding-right: 10px;
  text-align: center;
  display: flex;
  gap: 30px;
  align-items: start;
}

.steps__order {
  width: 92px;
  height: 92px;
  border: 6px solid var(--btn-color);
  border-radius: 50%;
  font-size: 44px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .steps__order {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
}
/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .steps__order {
    width: 50px;
    height: 50px;
  }
}

.steps__item h4 {
  white-space: wrap;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.3;
}

/* стили для планшетов */
@media screen and (max-width: 1200px) {
  .steps__item h4 {
    height: auto;
  }
}
/* стили для планшетов */
@media screen and (max-width: 768px) {
  .steps__item h4 {
    font-size: 18px;
  }
}

.steps__about {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}

.steps__description {
  text-align: left;
  line-height: 1.65;
  letter-spacing: 0.5px;
}